//navbar

.navigation{
    
    .navbar-toggler{
        border:none;
        color:black;
        
    }
     &__title{
         font-size: 1.5625rem;
     }
     &__indice{
         font-size: 0.7rem;
         vertical-align: super;
         
        
     }
 }
 